<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
    />
    <title>Search</title>
</head>
<body>

<div class="mt-3">

    <h3 class="text-center" th:text=" 'Search result for: ' + ${searched}"></h3>

    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <p th:text=" 'Title: ' + ${values.getTitle()}"></p>
                    <p th:text=" 'Artist: ' + ${values.getArtist()}"></p>
                    <p th:text=" 'Album: ' + ${values.getAlbum()}"></p>
                    <p th:text=" 'Genre: ' + ${values.getGenre()}"></p>
                    <p th:text=" 'Length (ms): ' + ${values.getLength()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="mt-3 text-center">
            <a class="btn btn-primary btn-lg align-items-center" href="/" role="button">Go back</a>
        </div>
    </div>
</div>


</body>
</html>